* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    text-align: center;
}

div {
    margin: auto;
    width: fit-content;
}

.game-container {
    width: 500px;
    height: 580px;
    border-radius: 10px;
    background-color: lightblue;

}

.cell {
    background-color: aliceblue;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.cell:hover {
    background-color: rgb(230, 230, 230);
}


.timer-mines {
    padding-top: 20px;
    height: 70px;
    width: 100%;
    font-size: 35px;
}

.timer-mines div {
    width: 90px;
}

.face:hover,
.cell:hover,
button:hover {
    cursor: pointer;
}

.difficulty,
.timer-mines {
    display: flex;
    gap: 70px;
}

button {
    font-size: 20px;
    border: none;
    background-color: Transparent;
    margin: 30px 0 30px 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    font-weight: bold;
    background-color: lightblue;
}

.hints-hearts {
    /* margin-top: 20px; */
    position: relative;
    height: 70px;
    width: 500px;
}

.hearts {
    position: absolute;
    font-size: 25px;
    top: 40%;
    right: 80%;
}

.shown {
    background-color: rgb(230, 230, 230);
}